body
{
background-color:lightblue
}
h2
{
color:black;font-style: bold
}
ul
{
font-style:italic;color:blue
}
ol
{
font-style:italic;color:green
}
table
{
border=collapse:collapse;
width:30%;
margin-left:500px;
}
th,td
{
border:1 px solid #BBC863
paddding:8px;
text-align:left;
}
th
{
background-color:purple;
color:white;
}
tr:nth-child(even)
{
background-color:#53629E;
}
tr:hover
{
background-color:#C9B59C;
}	
	